@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

.parent {
  display: flex;
  background-color: white;
  width: 510px;
  height: 220px;
  justify-content: space-between;
}
.drawers-img {
  height: 220px;
  width: 200px;
}
.michelle,
.michelle-description {
  display: flex;
}
.img-michelle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card {
  margin-top: 0;
  padding: 20px 20px 20px 25px;
}
.card-heading {
  margin: 0;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 13px;
}
.card-description,
#date {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 13px;
}
.michelle-name {
  padding-left: 15px;
  margin: 0;
}
#date {
  position: absolute;
  padding-top: 5px;
  margin-left: 65px;
}
.fa-share {
  position: absolute;
  margin-left: 240px;
  padding-top: 10px;
}
